<section class="my-5">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last</th>
                <th>Email</th>
                <th>CreatedAt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <% if(users) { %>
                <% users.forEach(function(user) {   %>

                    <tr>
                        <td>
                            <%= user._id %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.last %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%=  moment(user.createdAt).format('MMMM Do YYYY, h:mm:ss a')  %>
                        </td>
                        <td class="text-center">
                            <button type="button" name="" id="" class="btn btn-primary mx-2" btn-lg btn-block ">Update</button>
                    <button type="button " name=" " id=" " class="btn btn-danger mt-sm-2 mt-lg-0 " btn-lg btn-block">Delete</button>
                        </td>
                    </tr>

                    <% }) %>
                        <% } %>
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last</th>
                <th>Email</th>
                <th>CreatedAt</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</section>